<%# Adding a form so that the user can input data %>

<div class="col-md-6 offset-md-3">
    <div class="bg-light p-5 rounded-lg m-3">
        <div class="mb-3">

            <%= form_with model: plant do |form| %>
            <div>
                <%= form.label :name, "Name of flora" %><br />
                <%= form.text_field :name, class: "form-control" %>
                <% plant.errors.full_messages_for(:name).each do |message| %>
                <div><%= message %></div>
                <% end %>
            </div>

            <div>
                <%= form.label :age, "Age of flora" %><br />
                <%= form.text_field :age, class: "form-control" %><br />
                <% plant.errors.full_messages_for(:age).each do |message| %>
                <div><%= message %></div>
                <% end %>
            </div>

            <div class="field">
                <%= form.label :image %>
                <%= form.file_field :image %>
            </div>
            <br>
            <div><%= form.submit "Save", class: "btn btn-success"  %></div>
            <% end %>

        </div>
    </div>
</div>