<br>
<h1>
    My Plants<%= button_to "Sell here!", new_plant_path, method: :get, class: "btn btn-secondary" %>

</h1>

<% if current_user.plants.length > 0   %>


<ul>
    <% current_user.plants.each do |plant| %>
    <li>
        <a href="/plants/<%= plant.id %>">
            <%= plant.name %>, <%= plant.age %>
        </a>
    </li>
    <% end %>
</ul>

<% else %>
<h3 class="heading_sell_text">
    <center>No listing of your plants, yet!<center>
</h3>

<% end %>



<h1>
    <center>Collection<center>
</h1>
<ul>
    <% @collection.each do |plant| %>
    <li>
        <a href="/plants/<%= plant.id %>">
            <%= plant.name %>, <%= plant.age %>
        </a>
    </li>
    <% end %>
</ul>
<br>