<!DOCTYPE html>
<html>

<head>
    <title>Beleaf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
</head>

<body>
    <%# Using partial to render _navbar  %>
    <%= render "layouts/navbar" %>

    <div class="container">
        <%# Using partial to render _flash  %>
        <%= render "layouts/flash" %>
        <%= yield %>
    </div>

    <%# Using partial to render _footer  %>
    <%= render "layouts/footer" %>

</body>

</html>